.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-margin-top: 30rem;
}

.header .header__left {
    max-width: 67rem;
    flex: 1;
}

.header .header__left p {
    max-width: 50rem;
    margin-top: 2rem;
}

.header .header__left .btn{
    margin-top: 1rem;
    color: #fff;
    position: fixed;
}

.header .header__left .btn:hover{
    background: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.header .header__right .header__image {
   position: relative;
   line-height: 0;
}

.header .header__right .header__image::after {
    content: '';
    display: block;
    width: 80%;
    height: 80%;
    border: 1px solid var(--tertiary-color);
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 0.5rem;
    z-index: -1;
 }

 .header .header__right .header__image .anderson{
    border-radius: 1.5rem;
    min-width: 2rem;
    max-width: 38rem;
 }

 .header .header__right .header__image .background{
    position: absolute;
    top: -2rem;
    right: -2.5rem;
    z-index: -1;
 }

 @media(max-width: 768px) {
    .header {
        flex-direction: column-reverse;
        text-align: center;
    }

    .header .header__left p {
        margin: 2rem auto 4rem;
    }

    .header .header__right .header__image {
        display: flex;
        top: -15px;
        margin-bottom: 1rem;
     }
     .header .header__left .btn{
        position: relative;
     }
 }

 @media(max-width: 321px) {
    .header .header__right .header__image .anderson{
        max-width: 33rem;
    }
}